Task_3_func_save_lamb/
Task_2_variant/compile_flags.txt
Task_2_variant/build/
Task_2_variant/.vscode/
Task_2_variant/.cache/
Task_2_variant/bin/
Task_1_lambFunc/compile_flags.txt
Task_1_lambFunc/build/
Task_1_lambFunc/.vscode/
Task_1_lambFunc/.cache/
Task_1_lambFunc/bin/
